[Unit]
Description=PortVPN Queue Worker
After=network.target mysql.service redis.service

[Service]
Type=simple
User=www-data
Group=www-data
Restart=always
ExecStart=/usr/bin/php /var/www/portvpn/artisan queue:work --sleep=3 --tries=3 --max-time=3600
ExecStop=/usr/bin/php /var/www/portvpn/artisan queue:restart
StartLimitInterval=180
StartLimitBurst=30
RestartSec=5s
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=portvpn-worker

[Install]
WantedBy=multi-user.target
